:root {
    font-family: 'Open Sans', sans-serif;
	font-size: 18px;

    /* 1 is lightest, 5 is darkest */
    --color1: rgb(148, 163, 184);
    --color2: rgb(226, 232, 240);

	/* Dark blue */
    --bgColor: rgb(15 23 42);
}

html {
	background: var(--bgColor);
}

html:after {
	background: radial-gradient(600px at 256px 420px, rgba(29, 78, 216, 0.15), transparent 80%);
	min-height: 100vh;
	width: 100vw;
	content: '';
	position: fixed;
}

body {
	margin: 0 100px 100px 100px;
	color: var(--color1);
	font-size: 14px;

	/* Prevents ugly super-bold font in OSX Firefox and Chrome */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: var(--color2);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}








.header {
	padding: 40px 0;
}

.spacer {
	margin-top: 100px;
}






.gameContainer {
	width: 100%;
	display: flex;
	padding-top: 40px;
}

.gameContainer:first-child {
	padding-top: 110px;
}

.gameContainerText {
	width: 50%;
	margin-left: 40px;
}

.gameContainer a img {
	width: 40%;
	border-radius: 5px;
}

.imageLink {
	display: contents;
}








@media screen and (max-width: 960px) {		/* ======= iPad portrait, plus a lot ======= */
	body {
		margin: 0 50px 100px 50px;
		text-align: center;
	}
	.gameContainer {
		flex-direction: column;
		align-items: center;
	}
	.gameContainerText {
		margin: 0;
	}
	.gameContainerText, .gameContainer a img {
		width: 100%;
	}
}

@media screen and (max-width: 480px) {		/* ======= iPhone+, plus a lot ======= */
	body {
		margin: 0 20px 100px 20px;
	}
}